h1{
    color:white;
    text-align: center;
    background-color: greenyellow;
}
html, body {
    background-color:rgb(12, 12, 12);
    margin: 0;
    padding: 0;
}
#main{
    height:100%;
    width:100%;
    padding:20px 20px;
    display:flex;
    gap:30px;
}
.box1{
    height:350px;
    width:250px;
    background-color:aliceblue;
    border-radius:10px;
    box-shadow: 10px 10px 30px darkgreen;
    display:flex;
    align-items:  center;
    justify-content: space-evenly;
    flex-direction: column;
    padding:10px;
}

.box1 img{
    height:150px;
    width:150px;
    object-fit:cover;
}

.box1 h2{
    text-align: center;
    font-size: 30px;
    font-weight: 500px;
}
.box1 button{
    padding:10px 20px;
    border-radius: 50px;
    background-color: green;
    border:none;
    color:white;
    font-weight: 400px;
    broder: 2px solid darkgreen;
}
.box1 button:hover{
    background-color: bisque;
    cursor:cover;
}
.box2{
    height:350px;
    width:250px;
    background-color:aliceblue;
    border-radius:10px;
    box-shadow: 10px 10px 30px darkgreen;
    display:flex;
    align-items:  center;
    justify-content: space-evenly;
    flex-direction: column;
    padding:10px;
}

.box2 img{
    height:150px;
    width:150px;
    object-fit:cover;
}

 .box img.clicked {
    box-shadow: 10px 10px 20px grey;
}

.box2 h2{
    text-align: center;
    font-size: 30px;
    font-weight: 500px;
}
.box2 button{
    padding:10px 20px;
    border-radius: 50px;
    background-color: green;
    border:none;
    color:white;
    font-weight: 400px;
    broder: 2px solid darkgreen;
}
.box2 button:hover{
    background-color: bisque;
    cursor:cover;
}